#USE FOR DarkChess INITIAL SETTING
#Fri Aug 30 15:11:30 CST 2024
Password=123
RoomType=GENERAL
PieceScore=1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
IP=120.126.151.213
SearchPath=.\\Search\\final.exe
TimeLimit=900
TimerMode=ABSOLUTE
OpeningMode=SEQUENTIAL
FirstMove=YES
LoseScore=0.0
NoEatFlip=60
BoardPath=
StartMode=OPEN
Bonus=0.3
BonusLimit=8.0
DrawScore=0.2
Arg=
WinScore=1.0
ChangeFirstMove=YES
Account=a0
TimePerOpening=2
PlyShare=0
ConnectMode=MGTP
OnePlyTime=0
LongCatch=3
MidBoard=NO
LocalServer=false
RepeatTime=100
